{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>Lost or Found is an Python based app for reporting lost, stolen or found items. You can also search for the lost or found items added by others.It serves as a online database of stolen, lost, and found items.As soon as you loose or find something, all you have to do is update details about lost or found item in this app.Or before buying any used items if you want to make sure they are not stolen/theft, just search for that item in this app. This will help you to find if any one has already reported the same item as lost...This app is not limited for lost or found items. It can also be used to report missing People or Children which will reach many people and becomes easy to find them.</p>
{% endblock %}
