{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To Lost and Found Application</h1>
    <p class="lead">This application is built on the Python Flask framework.Lost or Found is for reporting lost, stolen or found items. You can also search for the lost or found items added by others</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
